<!DOCTYPE html>
<html>
<head>
    <title>MyBay</title>
</head>
<body>
    <h1>MyBay</h1>
    <a href="/ads">home</a>
    
    <h2><%= @ad.name %></h2>
    <h2><%= @ad.description %></h2>
    <h2><%= @ad.price %></h2>
    <h2><%= @ad.seller_id %></h2>
    <h2><%= @ad.email %></h2>
</body>
</html>